---
title: Demo for RSci classes at NCSSM
subtitle: How to participate in open science and publications
author:
  - name: Taylor Gibson
    affiliations: NCSSM
    orcid: 0009-0003-8299-5733
    email: gibson@ncssm.edu
license:
  code: MIT
date: 2023/01/23
---

MyST allows you to directly include Jupyter Notebooks in your books, documents and websites.
This Jupyter Notebook can be rendered directly using MyST.

In [2]:
from datascience import *
faithful = Table.read_table('faithful.csv')
faithful

duration | wait
3.6      | 79
1.8      | 54
3.333    | 74
2.283    | 62
4.533    | 85
2.883    | 55
4.7      | 88
3.6      | 85
1.95     | 51
4.35     | 85
... (262 rows omitted)